`
    <h2 class="text-center m-5">Agregar Nueva Empresa</h2>
    <app-empresa-form (formSubmitted)="addEmpresa($event)"></app-empresa-form>
  `


<div class="item">
<a class="logo" href="../planes-de-salud-precios/avalian-plan-de-salud/cotizar/index.html"><img src="../assets/imagenes/logos-prepagas-190x110/avalian-logo-medicina-prepaga-planes-de-salud.png" alt="Avalian" title="Avalian"></a>
<p>A Sompo Seguros tem a melhor rede referenciada de planos de saúde para você e sua empresa. Os melhores hospitales, clínicas e laboratorios a sua disposição. Entre em contato e confira todos os planos!</p>
<div class="inv-cob"><h5 class="inv">Investimento: <img src='../assets/imagenes/imagens/icone-cifrao.svg'><img src='../assets/imagenes/imagens/icone-cifrao.svg'><img src='../assets/imagenes/imagens/icone-cifrao.svg'><img src='../assets/imagenes/imagens/icone-cifrao.svg'></h5><h5 class="cob">Cobertura: <img src='../assets/imagenes/imagens/icone-cobertura.svg'><img src='../assets/imagenes/imagens/icone-cobertura.svg'><img src='../assets/imagenes/imagens/icone-cobertura.svg'><img src='../assets/imagenes/imagens/icone-cobertura.svg'><img src='../assets/imagenes/imagens/icone-cobertura.svg'></h5></div>
<div class="botao">
<a href="../planes-de-salud-precios/avalian-plan-de-salud/cotizar/index.html">COTIZAR AHORA</a>
</div>
</div>