<form class="plan-form" autocomplete="off" [formGroup]="planForm" (ngSubmit)="submitForm()">
  <!-- <div class="form-floating mb-3">
    <input class="form-control" type="text" id="_id" formControlName="_id" placeholder="ID" required>
    <label for="id">id</label>
  </div> -->
  <div class="form-floating mb-3">
    <label htmlFor="nombre">Nombre</label>
    <input pInputText id="name" type="text" formControlName="name" placeholder="Plan Bronce" required/>
  </div>
  <div class="form-floating mb-3">
    <label htmlFor="nombre">Price</label>
    <input pInputText id="Price" type="text" formControlName="price" placeholder="Price" required/>
  </div>
  <div class="form-floating mb-3">
    <label htmlFor="nombre">Precio</label>
    <input pInputText id="precio" type="text" formControlName="precio" placeholder="Precio" required/>
  </div>
   
  <div class="form-floating mb-3">
    <label htmlFor="rating">Rating</label>
    <p-rating></p-rating>
</div>
  
    <br><br>
    <label htmlFor="copagos">Copagos</label>
    <p-inputSwitch formControlName="valCopagos"></p-inputSwitch>
       <br>
   <br>
  <label for="category">Category</label>
  <p-dropdown [options]="categorias" formControlName="selectedDrop" placeholder="Select a City" [showClear]="true"></p-dropdown>

    <div class="form-floating mb-3">
      <label htmlFor="tags">Tags</label>
      <input pInputText id="tags" type="text" formControlName="tags" placeholder="tags" required/>
    </div>

    <label htmlFor="copagos">Hijos Solos?</label>
    <p-inputSwitch formControlName="valHIjosSolos"></p-inputSwitch>
    <br><br>
   
   

   

  <div class="form-floating mb-3">
     
    <input class="form-control" type="text" id="folletos" formControlName="folletos" placeholder="Folletos">
    <label for="folleto">Folletos</label>
  </div>

  <div class="form-floating mb-3">
     
    <input class="form-control" type="text" id="clinicas" formControlName="clinicas" placeholder="Clinicas">
    <label for="clinicas">Clinicas</label>
  </div>
  <div class="form-floating mb-3">
     
    <input class="form-control" type="text" id="images" formControlName="images" placeholder="Imagenes" >
    <label for="imagenes">Imagenes</label>
  </div>
    
    

    
   
    
    
    
    
   
    
  


    <button class="btn btn-primary" type="submit" [disabled]="planForm.invalid">Add</button>
  </form>

 